.header {
  background: linear-gradient(to bottom right, lighten($blue, 10%), $blue);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $xs-size 0;
}

.header__title {
  color: $off-white;
  text-decoration: none;
  h1 {
    font-size: 3rem; // we specify rem instead of the default em to allow easy padding elsewhere
    margin: 0;
  }
}