.login {
  h3 {
    text-align: center;
  }
  form {
    margin: 0 auto;
    width: 30%;
    .login--input {
      display: flex;
      justify-content: space-between;
      input {
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.2rem;
      }
    }
    .login--buttons {
      margin: 0 auto;
      padding-top: 0.5rem;
      width: 80%;
      .login--button {
        background: $grey;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        margin: 1rem;
        padding: 1rem 0;
        width: 40%; 
      }
    }
  }
}