nav {
  background: lighten($blue, 10%);
  color: white;
  height: 100vh;
  margin-top: 5.8rem;
  position: fixed;
  width: 20rem;
  a {
    text-decoration: none;
  }
  div {
    border-bottom: 1px solid $off-white;
    color: $off-white;
    margin: 0.5rem 1rem;
    padding: 1rem;
  }
  .navbarActive {
    font-size: 110%;
    font-weight: bold;
  }
}