.stocks {
  padding-bottom: 5rem;
  h2 {
    color: $off-white;
    margin: 0;
    padding-top: 2rem;
  }
  .stocks__watching {
    color: $off-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .stocks__stock {
      background: $stock-blue;
      border-radius: 5px;
      margin: 0.6rem;
      padding-left: 1rem;
      padding-top: 0.3rem;
      position: relative;
      width: 30%;
      .stocks__delete-stock {
        cursor: pointer;
        font-size: 125%;
        height: 1rem;
        position: absolute;
        right: 1rem;
        top: -0.3rem;
        width: 1rem;
      }
    }
    .stocks__add-stock {
      background: $stock-blue;
      border-radius: 5px;
      height: 4rem;
      padding-top: 0.8rem;
      width: 30%;
      form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
        .stocks__add-stock-ticker {
          border: none;
          border-radius: 5px;
          padding: 0.3rem;
          width: 40%;
        }
        .stocks__submit-stock-ticker {
          background: #2E7E74;
          border: none;
          border-radius: 5px;
          color: $off-white;
          padding: 0.2rem;
          width: 40%;
        }
      }
    }
    .stocks__blank {
      margin: 0.6rem;
      width: 30%;
    }
  }
  .stock__error {
    color: $off-white;
    margin-left: 3.3%;
  }
}

svg {
  background: lighten(black, 10%);
  border-radius: 5px;
  margin: 2rem 0;
  .chart--axis {
    color: $off-white;
  }
  .grid {
    color: lighten($off-white, 10%);
  }
  .line {
    border: none;
    fill: none;
    shape-rendering: crispEdges;
    stroke-width: 0.3rem;
  }
  .tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
  }
}